<template>
  <v-layout row>
    <v-flex xs12>
      <v-card>
        <v-list subheader two-line>
          <v-subheader>Paramètres</v-subheader>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>Notifications</v-list-tile-title>
              <v-list-tile-sub-title>Afficher les notifications</v-list-tile-sub-title>
            </v-list-tile-content>

            <v-list-tile-action>
              <v-btn color="accent" @click="notify()">Tester</v-btn>
            </v-list-tile-action>
          </v-list-tile>

        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'settings',
  methods: {
    notify () {
      if (!('Notification' in window)) {
        // Notifications non supportées par le navigateur
        console.error('Notifications non supportées')
      } else if (Notification.permission === 'granted') {
        // Notifications autorisées, on peut afficher la notif
        this.createNotification()
      } else if (Notification.permission !== 'denied') {
        // Sinon, on demande l'autorisation
        Notification.requestPermission(permission => {
          // on enregistre le choix de l'utilisateur
          if (!('permission' in Notification)) {
            Notification.permission = permission
          }
          // si c'est autorisé, on peut alors afficher la notif
          if (permission === 'granted') {
            this.createNotification()
          }
        })
      }
    },
    createNotification () {
      const title = `Nouvelle activité`
      const body = `John DOE vient de noter un bar à Nantes !`
      const icon = 'img/icons/icon-72x72.png'

      navigator.serviceWorker.ready.then((registration) => {
        registration.showNotification(title, {
          body,
          icon,
          vibrate: [200, 100, 200],
          tag: 'datw-example'
        })
      })
    }
  }
}
</script>
