<template>
  <v-app>
    <v-navigation-drawer
      persistent
      v-model="drawer"
      enable-resize-watcher
      fixed
      app
    >
      <v-list>
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img src="/img/user.jpg" alt="John DOE">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>John DOE</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>

        <v-list-tile
          value="true"
          v-for="(item, i) in menuItems"
          :key="i"
          @click="$router.push(item.link)"
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="primary" app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title v-text="title"></v-toolbar-title>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data () {
    return {
      drawer: false,
      menuItems: [{
        icon: 'store_mall_directory',
        title: 'Lieux',
        link: { name: 'establishments' }
      }, {
        icon: 'add',
        title: 'Ajouter',
        link: { name: 'establishments-details', params: { id: 'new' } }
      }, {
        icon: 'settings',
        title: 'Paramètres',
        link: { name: 'settings' }
      }],
      title: 'Devops all the way'
    }
  }
}
</script>

<style lang="scss">
  .theme--light .v-toolbar {
    color: #fff;
    .v-btn {
      color: #fff;
    }
  }
</style>
