<template>
  <v-layout row fill-height justify-center>
    <v-flex xs12 sm8 v-if="establishment">
      <v-form ref="form" v-model="valid">
        <!-- Establishement -->
        <h3 class="headline ma-3">Établissement : {{ establishment.name }}</h3>
        <v-card>
          <v-card-text>
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-text-field
                  label="Nom de l'établissement"
                  v-model="establishment.name"
                  :rules="rules.required"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field
                  label="Téléphone"
                  v-model="establishment.phone"
                  :rules="rules.required"
                  append-icon="phone"
                  @click:append="phone()"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field
                  label="Adresse"
                  v-model="establishment.address"
                  :rules="rules.required"
                  append-icon="gps_fixed"
                  @click:append="openMaps()"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field
                  label="Position"
                  v-model="establishment.position"
                  :rules="rules.required"
                  append-icon="place"
                  @click:append="getPosition()"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-btn flat
                  color="accent"
                  v-for="link in establishment.links"
                  :key="link"
                  @click="openLink(link)"
                >
                <v-icon>open_in_new</v-icon>&nbsp;
                {{ link | formatUrl }}
                </v-btn>
              </v-flex>
            </v-layout>

            <v-layout wrap v-if="establishment.phone">
              <v-flex xs12 text-xs-right>
                <v-btn @click="phone">
                  <v-icon>phone</v-icon> Contacter
                </v-btn>
                <v-btn @click="book()" v-if="canBook">
                  <v-icon>restaurant</v-icon> Réserver une table
                </v-btn>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>

        <!-- Pictures -->
        <h3 class="headline ma-3">Photos ({{ establishment.pictures.length }})</h3>
        <v-card>
          <v-card-text>
            <v-container grid-list-md class="pa-0">
              <v-layout wrap>
                <v-flex xs4 v-for="(picture, i) in establishment.pictures" :key="i">
                  <v-card flat tile>
                    <v-img :src="picture.src" @click="viewPicture(picture)" max-height="200"></v-img>
                  </v-card>
                </v-flex>
              </v-layout>

              <v-layout wrap>
                <v-flex xs12 text-xs-right>
                  <p v-if="!establishment.pictures.length">Aucune photo</p>

                  <v-btn block @click="startVideo()" v-if="establishment.id && !stream">
                    <v-icon>camera_alt</v-icon> Ajouter une photo
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-card>

        <!-- Commentaires -->
        <h3 class="headline ma-3">Commentaires ({{ establishment.comments.length }})</h3>
        <v-card class="mb-5">
          <v-card-text>
            <v-layout wrap>
              <v-flex xs12>
                <v-card v-for="(comment, i) in establishment.comments" :key="i" class="mb-2">
                  <v-card-text>
                    <v-textarea :value="comment.content" rows="2" disabled></v-textarea>
                    <v-layout>
                      <v-flex xs6>
                        <note-stars :comment="comment"></note-stars>
                      </v-flex>
                      <v-flex xs6 text-xs-right>
                        <cite>– {{ comment.author }}, {{ comment.createdAt | timeAgo }}</cite>
                      </v-flex>
                    </v-layout>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>

            <v-layout wrap>
              <v-flex xs12 text-xs-right>
                <p v-if="!establishment.comments.length">Aucun commentaire</p>

                <v-btn block @click="$refs.comment.open()" v-if="establishment.id">
                  <v-icon>comment</v-icon> Ajouter un commentaire
                </v-btn>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-form>

      <v-btn dark @click="remove" color="red" v-if="establishment.id">
        <v-icon>delete</v-icon> Supprimer
      </v-btn>

      <v-btn fab dark
        color="primary"
        class="v-btn--fixed"
        @click="save">
        <v-icon dark>save</v-icon>
      </v-btn>

      <v-snackbar
        v-model="snackbar.visible"
        :color="snackbar.color"
        multi-line>
        {{ snackbar.text }}
        <v-btn dark flat @click="snackbar.visible = false">
          Fermer
        </v-btn>
      </v-snackbar>

      <v-dialog
        v-model="pictureDialog">
        <v-img
          :src="selectedPicture.src"
          v-if="selectedPicture"
          @click="pictureDialog = false"
        ></v-img>
      </v-dialog>

      <camera
        ref="camera"
        @save="addPicture"
        @error="snack"
      />

      <comment
        ref="comment"
        @save="addComment"
      />
    </v-flex>
  </v-layout>
</template>

<style>
  .v-speed-dial {
    position: absolute;
    z-index: 10;
  }

  .v-btn--floating {
    position: relative;
  }
</style>

<script>
import { NoteStars, Camera, Comment } from '@/components'

export default {
  name: 'establishments-details',
  components: { NoteStars, Camera, Comment },
  data: () => ({
    establishment: {
      id: null,
      name: '',
      address: '',
      position: '',
      links: [],
      comments: [],
      createdAt: new Date().toISOString(),
      pictures: []
    },
    rules: {
      required: [ v => !!v || `Ce champs est requis` ]
    },
    snackbar: {
      visible: false,
      color: 'success',
      text: ''
    },
    canBook: 'PaymentRequest' in window,
    stream: null,
    valid: true,
    pictureDialog: false,
    selectedPicture: null
  }),
  async mounted () {
    if (this.$route.params.id && this.$route.params.id !== 'new') {
      this.getEstablishment(this.$route.params.id)
    }
  },
  methods: {
    async getEstablishment () {
      try {
        const establishment = await this.$store.dispatch('getEstablishment', this.$route.params.id)
        if (establishment) {
          this.establishment = { ...establishment }
        }
      } catch (e) {
        this.$router.push({ name: 'error-404' })
      }
    },

    // Sauvegarde l'établissement
    async save () {
      if (this.$refs.form.validate()) {
        const establishment = await this.$store.dispatch('saveEstablishment', this.establishment)
        const oldId = this.establishment.id
        this.establishment = { ...establishment }
        this.snack('Données sauvegardées', 'success')

        if (!oldId) {
          setTimeout(() => this.$router.push({ name: 'establishments-details', params: { id: establishment.id } }), 500)
        }
      } else {
        this.snack('Veuillez vérifier les données saisies', 'error')
      }
    },

    // Supprime l'établissement
    async remove () {
      const success = await this.$store.dispatch('removeEstablishment', this.establishment)
      if (success) {
        this.snack('Établissement supprimé', 'success')
        setTimeout(() => this.$router.push({ name: 'establishments' }), 500)
      } else {
        this.snack('Une erreur est survenue', 'error')
      }
    },

    // Affiche un message en snackbar
    snack (text, color) {
      this.snackbar.text = text
      this.snackbar.color = color
      this.snackbar.visible = true
    },

    startVideo () {
      this.$refs.camera.startVideo()
    },
    async addPicture (data) {
      const picture = {
        src: data,
        author: 'John DOE',
        establishmentId: this.establishment.id
      }
      await this.$store.dispatch('addPicture', picture)
      await this.getEstablishment(this.establishment.id)
    },
    viewPicture (picture) {
      this.selectedPicture = picture
      this.pictureDialog = true
    },

    async addComment (data) {
      const comment = {
        ...data,
        author: 'John DOE',
        establishmentId: this.establishment.id
      }
      await this.$store.dispatch('addComment', comment)
      await this.getEstablishment(this.establishment.id)
    },

    // Retourne la position actuelle de l'utilisateur s'il a donné l'autorisation
    getPosition () {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            this.establishment.position = `${position.coords.latitude}, ${position.coords.longitude}`
          },
          (err) => {
            let msg = ''
            switch (err.code) {
              case err.TIMEOUT: msg = 'Vous avez pris trop de temps pour répondre'; break
              case err.PERMISSION_DENIED: msg = `Vous n'avez pas accordé la permission`; break
              case err.POSITION_UNAVAILABLE: msg = `Votre GPS n'a pas réussi à indiquer votre position`; break
              case err.UNKNOWN_ERROR: msg = 'Erreur inconnue'; break
            }
            this.snack(`Impossible de récupérer votre position: ${msg}`, 'error')
          }
        )
      } else {
        this.snack('Fonction non supportée par le navigateur...', 'error')
      }
    },

    // Ouvre le dialer du téléphone
    phone () {
      window.location.href = 'tel:' + this.establishment.phone
    },

    // Ouvre Google Maps avec la position
    openMaps () {
      window.open(`https://www.google.fr/maps?q=${this.establishment.position}`)
    },

    // Ouvre un lien dans un nouvel onglet
    openLink (link) {
      const url = link.includes('http') ? link : `http://${link}`
      window.open(url)
    },

    // Ouvre la fenêtre de paiement
    async book () {
      const payment = {
        methods: [{
          supportedMethods: 'basic-card',
          data: {
            supportedNetworks: ['visa', 'mastercard']
          }
        }],
        details: {
          total: {
            label: 'Total',
            amount: {
              currency: 'EUR',
              value: 95
            }
          },
          displayItems: [
            {
              label: 'Menu du jour (x4)',
              amount: {
                currency: 'EUR',
                value: 100
              }
            },
            {
              label: 'Remise fidélité (10%)',
              amount: {
                currency: 'EUR',
                value: -10
              }
            },
            {
              label: 'TVA',
              pending: true,
              amount: {
                currency: 'EUR',
                value: 5
              }
            }
          ]
        },
        options: {
          requestPayerName: true
        }
      }

      const paymentRequest = new PaymentRequest(payment.methods, payment.details, payment.options)

      try {
        const s = await paymentRequest.show()
        console.log(s)
        this.snack('Réservation enregistrée', 'success')
      } catch (e) {
        this.snack('Paiement annulé')
      }
    }
  }
}
</script>
