<template>
  <v-layout row fill-height justify-center>
    <v-flex xs12 sm8 v-if="months.length">
      <v-card>
        <div v-for="month in months" :key="month">
          <v-subheader>{{ month | formatDate('MMMM YYYY') }}</v-subheader>
          <v-container fluid grid-list-sm>
            <v-layout row wrap>
              <v-flex v-for="establishment in getEstablishmentsByMonth(month)" :key="establishment.id" xs12 sm6 lg4>
                <v-card>
                  <v-img
                    :src="establishment.pictures && establishment.pictures.length ? establishment.pictures[0] : 'https://picsum.photos/320/240/?v=1'"
                    contain
                    @click="goTo(establishment)"
                  />

                  <v-card-title primary-title>
                    <div>
                      <h3 class="headline mb-0">{{ establishment.name | truncate(20) }}</h3>
                      <span class="grey--text">{{ establishment.createdAt | timeAgo }}</span>
                    </div>
                  </v-card-title>

                  <v-card-actions class="pa-3">
                    <v-tooltip bottom v-if="establishment.comments && establishment.comments.length">
                      <v-icon slot="activator">chat</v-icon>
                      <span>{{ establishment.comments.length }} commentaires associés</span>
                    </v-tooltip>

                    <v-spacer></v-spacer>
                    <note-stars :comments="establishment.comments"></note-stars>
                  </v-card-actions>

                  <v-divider></v-divider>

                  <v-card-actions>
                    <v-btn flat @click="share(establishment)" v-if="canShare">Partager</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn flat color="accent" @click="goTo(establishment)">Afficher</v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </div>
      </v-card>
    </v-flex>

    <v-flex xs12 v-if="!months.length">
      <v-layout row fill-height align-center justify-center>
        <v-flex xs12 sm6 text-xs-center>
          <v-icon :size="180">store_mall_directory</v-icon>
          <h1 class="headline">Aucun établissement</h1><br>
          <p class="body-1">Créez un nouvel établissement et il s'affichera ensuite sur cet écran.</p>
        </v-flex>
      </v-layout>
    </v-flex>

    <v-btn fab dark
      color="primary"
      class="v-btn--fixed"
      @click="goTo(null)">
      <v-icon dark>add</v-icon>
    </v-btn>
  </v-layout>
</template>

<style lang="scss">
  .v-btn--fixed {
    position: fixed !important;
    bottom: 20px;
    right: 20px;
  }
</style>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
import { NoteStars } from '@/components'

export default {
  components: { NoteStars },
  data: () => ({
    dialog: false,
    selectedNote: null,
    canShare: !!navigator.share
  }),
  computed: {
    ...mapGetters({
      establishments: 'allEstablishments',
      months: 'getMonths'
    })
  },
  methods: {
    getEstablishmentsByMonth (month) {
      return this.establishments.filter((note) => moment(note.createdAt).startOf('month').toISOString() === month)
    },
    goTo (establishment) {
      this.$router.push({
        name: 'establishments-details',
        params: {
          id: establishment ? establishment.id : 'new'
        }
      })
    },
    async share (establishment) {
      try {
        await navigator.share({
          title: 'Nouvelle découverte sur DATW',
          text: `J'ai découvert ${establishment.name} sur SIItup !`,
          url: `${location.origin}/establishements/${establishment.id}`
        })
      } catch (e) {
        console.error(e)
      }
    }
  }
}
</script>
