<template>
  <div>
    <v-dialog v-model="commentDialog" transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="close()">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Ajouter un commentaire</v-toolbar-title>
        </v-toolbar>

        <v-card-text>
          <v-layout wrap>
            <v-flex xs12 class="my-4">
              <v-textarea v-model="content" rows="5" placeholder="Écrivez un commentaire"></v-textarea>
            </v-flex>
            <v-flex xs6 md3>
              <v-text-field
                  label="Accueil"
                  v-model="note.accueil"
                  type="number"
                  min="0" max="5"
              ></v-text-field>
            </v-flex>
            <v-flex xs6 md3>
              <v-text-field
                  label="Ambiance"
                  v-model="note.ambiance"
                  type="number"
                  min="0" max="5"
              ></v-text-field>
            </v-flex>
            <v-flex xs6 md3>
              <v-text-field
                  label="Deco"
                  v-model="note.deco"
                  type="number"
                  min="0" max="5"
              ></v-text-field>
            </v-flex>
            <v-flex xs6 md3>
              <v-text-field
                  label="Organisation"
                  v-model="note.organisation"
                  type="number"
                  min="0" max="5"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>

        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" large @click="save()">
            Enregistrer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'comment',
  data: () => ({
    content: '',
    note: {
      accueil: 0,
      ambiance: 0,
      deco: 0,
      organisation: 0
    },
    commentDialog: false
  }),
  methods: {
    open () {
      this.content = ''
      this.note.accueil = 0
      this.note.ambiance = 0
      this.note.deco = 0
      this.note.organisation = 0
      this.commentDialog = true
    },
    close () {
      this.commentDialog = false
    },
    save () {
      const comment = {
        createdAt: new Date().toISOString(),
        content: this.content,
        note: {
          accueil: +this.note.accueil,
          ambiance: +this.note.ambiance,
          deco: +this.note.deco,
          organisation: +this.note.organisation
        }
      }
      this.$emit('save', comment)
      this.close()
    }
  }
}
</script>
